<footer class="site-footer">
  <div class="container">
    <div class="row bottom-xs">
      <hr class="col-xs-12">
      <!-- <div class="col-md-6">
        <h2 class="footer-heading">{{ site.title }}</h2>
        <p>{{ site.description }}</p>
      </div> -->
      <div class="col-md-12">
        <ul class="list-unstyled">
          <li>Contato</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li>Telefone: <a href="tel:{{ site.phone }}">{{ site.phone }}</a></li>
        </ul>
      </div>
      <!-- <div class="col-md-3">
        <ul class="list-unstyled">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div> -->
    </div>
  </div>
</footer>
