<ui-view></ui-view>

<hr>
<br>


<ol class="timeline">
    <li class="timeline__step" ui-sref-active="done">
        <a ui-sref="order-new">
          <span class="timeline__step-title">Montar Prato</span>
          <i class="timeline__step-marker">1</i>
        </a>
    </li>
    <li class="timeline__step" ui-sref-active="done">
      <a ui-sref="order-address">
        <span class="timeline__step-title">Endereço de Entrega</span>
        <i class="timeline__step-marker">2</i>
      </a>
    </li>
    <li class="timeline__step" ui-sref-active="done">
      <a ui-sref="order-payment">
        <span class="timeline__step-title">Informações de Pagamento</span>
        <i class="timeline__step-marker">3</i>
      </a>
    </li>
    <li class="timeline__step" ui-sref-active="done">
      <a ui-sref="order-submit">
        <span class="timeline__step-title">Finalizar Pedido</span>
        <i class="timeline__step-marker">4</i>
      </a>
    </li>
</ol>

<br><br>
