<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Connect your Account</h3>
    </div>
    <div class="modal-body">
      <div class="singin-form">
        <button class="btn btn-danger btn-lg btn-block" ng-click="session.singin.google($event)">Sign with Google</button>
        <button class="btn btn-warning btn-lg btn-block" ng-click="session.singin.facebook($event)">Sign with Facebook</button>
      </div>
    </div>
</script>
