<div class="dropdown ng-hide" ng-show="model">
  <a class="profile dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <img class="img-circle" ng-src="{{model.photoURL}}" width="24">
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu profile-popover" aria-labelledby="dropdownMenu1">
    <li>
      <div class="row">
        <div class="col-xs-12">
          <h4 class="margin-left">
            {{model.displayName}} <br>
            <small>{{model.email}}</small>
          </h4>
          <ul class="list-inline right-xs">
            <li><a class="btn btn-default btn-xs" href="/me">Minha Conta</a></li>
            <li><a class="btn btn-default btn-xs" href="#" ng-click="logout($event)">Sair</a></li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="actions ng-hide" ng-show="!model">
  <a href="#!" ng-click="openForm()" class="btn btn-success">Entrar / Criar Conta</a>
</div>
