<div class="dropdown ng-hide" ng-show="model">
  <a class="profile dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <img class="img-circle" ng-src="{{model.photoURL}}" width="24">
    {{model.displayName}}
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="/me">View Profile</a></li>
    <li><a href="/me">Edit Account</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#" ng-click="logout($event)">Logout</a></li>
  </ul>
</div>
<div class="actions ng-hide" ng-show="!model">
  <a href="#!" ng-click="openForm()" class="btn btn-primary">Efetual Login / Criar Conta</a>
</div>
