.profile-container{
  @extend .row;
  .profile-media-user{
    @extend .col-md-3;
    img{
      margin: auto;
    }
  }
  .profile-content{
    @extend .col-md-9;
  }
}

.dropdown-menu.profile-popover{
  padding: 12px;
  min-width: 320px !important;
}
