<!DOCTYPE html>
<html ng-app="lightLuchApp">

  {% include head.html %}

  <body ng-controller="AppCtrl as app">
    {% include header.html %}


    <fading-circle-spinner ng-hide="app.loaded"></fading-circle-spinner>
    <div class="row">
      <div class="col-md-9 right-xs">
        <div class="container ng-hide" ng-show="app.loaded">
          {{ content }}
        </div>
      </div>
      <div class="col-md-3">
        <div class="col-xs-12 margin-bottom" ng-repeat="{{'product in $order.cart'}}">
          <div class="row well">
            <div class='col-xs-3'>
              <img ng-src="{{'product.picture'| angular}}" class="img-responsive">
            </div>
            <div class='col-xs-9'>
              <h4>{{'product.title'|angular}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}
    {% include singin.html %}
    {% javascript jquery %}

    {% bundle %}
      - /vendor/angular/angular.min.js
      - /vendor/angular/angular.min.js.gzip
      - https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.2/ui-bootstrap.min.js
      - https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.2/ui-bootstrap-tpls.min.js
    {% endbundle %}

    {% javascript app %}
  </body>

</html>
