<!DOCTYPE html>
<html ng-app="lightLuchApp">

  {% include head.html %}

  <body ng-controller="AppCtrl as app">

    {% include header.html %}
    <fading-circle-spinner ng-hide="app.loaded"></fading-circle-spinner>

    <div class="container ng-hide" ng-show="app.loaded">
      {{ content }}
    </div>

    {% include footer.html %}
    {% javascript jquery %}

    {% bundle %}
      - /vendor/angular/angular.min.js
      - /vendor/angular/angular.min.js.gzip
      - /vendor/angular-animate/angular-animate.js
      - /vendor/angular-resource/angular-resource.js
    {% endbundle %}
    <!-- {% bundle %}
    - https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular.js
    - https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular-animate.js
    - https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular-resource.js
    {% endbundle %} -->

    {% javascript app %}
  </body>

</html>
