<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    {% include carousel.html %}

    <div class="container">
      {{ content }}
    </div>

    {% include footer.html %}
    {% javascript jquery %}

    {% bundle %}
      - /vendor/angular/angular.min.js
      - /vendor/angular/angular.min.js.gzip
      - /vendor/angular-animate/angular-animate.js
      - /vendor/angular-resource/angular-resource.js
    {% endbundle %}
    <!-- {% bundle %}
    - https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular.js
    - https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular-animate.js
    - https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular-resource.js
    {% endbundle %} -->

    {% javascript app %}
  </body>

</html>
